.close-btn {
    font-size: 20px;
    color: $grey;
    position: absolute;
    left: 25px;
    top: 25px;
    display: none;

    #{$ltr} & {
        left: auto;
        right: 25px;
    }
}

nav {
    @include sm {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($text, 0.9);
        z-index: 99999;
        display: none;

        .mo-navbar {
            top: 0;
            background-color: #fff;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 280px;
            position: relative;
            height: 100vh;
            padding: 80px 25px;
            transform-origin: right;
            transform: scaleX(0);
            @include transition(all 0.4s ease-in-out);

            #{$ltr} & {
                transform-origin: left;
            }

            &.nav-in {
                transform: scaleX(1);
            }
        }

        .nav-li {
            margin: 7px 0;
        }

        .close-btn {
            display: flex;
        }
    }
}